<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.mylocation">

    <!-- 授权获取定位信息-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--感觉这个高版本的授权没有用-->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 文件内容读写的权限申明-->
    <permission android:name="com.example.admin.mylocation.READ_CONTEXT_DATA"
        android:description="@string/read_permission"
        android:icon="@drawable/location"
        android:label="Read Share&apos;s Context Data"
        android:protectionLevel="normal"/>
    <permission android:name="com.example.admin.mylocation.WRITE_CONTEXT_DATA"
        android:description="@string/write_permission"
        android:icon="@drawable/location"
        android:label="Write Share&apos;s Context Data"
        android:protectionLevel="normal"/>

    <!--对于那些插件和软件，上面的就已经够了，如果想继续，那就还需要下面的-->
    <uses-permission android:name="com.example.admin.mylocation.READ_CONTEXT_DATA"/>
    <uses-permission android:name="com.example.admin.mylocation.WRITE_CONTEXT_DATA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/location"
        android:label="@string/app_name"
        android:roundIcon="@drawable/location"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Test.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--这里的android：enabled的值为bool/displa_aware
        是哪里来的？？？在资源文件夹value/bools里面
        表示这个数据提供者可不可用-->
        <provider
            android:authorities="${applicationId}.provider.locations"
            android:name="com.example.admin.mylocation.providers.Locations_Provider"
            android:exported="true"
            android:enabled="@bool/display_share"
            android:readPermission="com.example.admin.mylocation.READ_CONTEXT_DATA"
            android:writePermission="com.example.admin.mylocation.WRITE_CONTEXT_DATA">
        </provider>

    </application>


</manifest>